html,
body,
#root,
.app,
main {
  height: 100%;
  width: 100%;
  margin: 0;
}

#scroll-container {
  overflow-y: auto;
  position: relative;
  height: 100%;
  scrollbar-gutter: stable both-edges;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="file"] {
  cursor: pointer;
}

::file-selector-button {
  display: none;
}

.file-upload-adorned-start {
  padding: 0 !important;
  margin: 0 !important;
}